# Web Scraping Assignment - Mission to Mars

### Import Dependencies and Setup

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### Step 1 - Scraping

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

### NASA Mars News

In [5]:
article = soup.find('div', class_= 'list_text')
news_title = article.find('a').text 
news_p = article.find('div', class_ = 'article_teaser_body').text

In [6]:
print(news_title)
print(news_p)

NASA Engineers Checking InSight's Weather Sensors
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

### JPL Mars Space Images - Featured Image

In [8]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [9]:
html = browser.html
soup = bs(html, 'html.parser')

In [10]:
image = soup.find('footer')
image_url = image.a['data-fancybox-href']

featured_image_url = 'https://www.jpl.nasa.gov' + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA08003_ip.jpg

### Mars Facts

In [11]:
mars_facts_url = 'https://space-facts.com/mars/'

In [12]:
mars_facts_table = pd.read_html(mars_facts_url)[0]
mars_facts_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
mars_facts_table_df = mars_facts_table.rename(columns={0: 'Description', 1: 'Mars'}) 
mars_facts_table_df = mars_facts_table_df.set_index('Description')
mars_facts_table_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
#Converting data to a html table string
html_table = mars_facts_table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
html_table = html_table.replace('\n', '')

### Mars Hemispheres

In [17]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)

In [18]:
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
hemisphere_image_urls = []

#Get list of all hemispheres
links = browser.find_by_css('a.product-item h3')

#Loop through links, click link, find image url and title
for m in range(len(links)):
    hemisphere = {}
    
    #Find elements on each loop
    browser.find_by_css('a.product-item h3')[m].click()
    
    #Find image url and get href
    hem_img_url = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = hem_img_url['href']
    
    #Get hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    #Add hemisphere dictionary to list
    hemisphere_image_urls.append(hemisphere)
    
    #Navigate back
    browser.back()

print(hemisphere_image_urls)

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg', 'title': 'Cerberus Hemisphere Enhanced'}, {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg', 'title': 'Schiaparelli Hemisphere Enhanced'}, {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg', 'title': 'Syrtis Major Hemisphere Enhanced'}, {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg', 'title': 'Valles Marineris Hemisphere Enhanced'}]